@import "../../variables";

.order-page {
  padding: 4rem 1rem 1rem 1rem;

  .form-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
  }

  .form-submit {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    left: 0;
    display: flex;
    justify-content: center;

    div {
      cursor: pointer;
      padding: 1rem;
      background-color: $green-color;
    }

  }

}
