<div *ngIf="order" class="order-page">
  <div class="some-class">
    <b>Ім'я:</b> {{ order.customerName }}
  </div>
  <div class="some-class">
    <b>Призвіще:</b> {{ order.customerSurname }}
  </div>
  <div class="some-class">
    <b>Email:</b> {{ order.email }}
  </div>
  <div class="some-class">
    <b>Сума замовлення:</b> {{ order.price }} грн
  </div>
  <div class="some-class">
    <b>Адрес доставки:</b> {{ order.deliveryAddress }}
  </div>
  <div class="some-class">
    <b>Статус доставки:</b> {{ order.status }}
  </div>
  <div class="some-class">
    <b>Продукти замовлення:</b>
    <div class="products" *ngFor="let product of products | keyvalue">
      <div>
        {{ product.key.name }} *{{ product.value }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="!order" class="empty-order">
  Не знайдено жодного замовлення
</div>
