@import "../../variables";

.discounts-page {
  padding: 4rem 1rem 1rem;

  .discount-info {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0 1rem;
    background-color: $red-color;
    color: $main-font-color;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      font-size: 3rem;
    }
  }
}
