@import "../../variables";

.full-product {
  padding: 4rem 1rem 1rem;

  .product-image {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .product-option {
    margin: 0.5rem 0;

    .ingredients {
      padding: 0 1rem;
    }
  }

  .empty-product {
    text-align: center;
  }
}

@media (min-width: 420px) {
  .full-product {
    .product-image {
      justify-content: flex-start;

      img {
        width: 24rem;
      }
    }
  }
}
