@import "../../../variables";

.product-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;

  app-product {
    margin-top: 1rem;
    width: 100%;
  }
}

.informing {
  width: 100%;
  padding: 1rem;
  position: fixed;
  background-color: $green-color;
  z-index: 1000;
  bottom: 0;
  left: 0;
}

@media (min-width: 420px) {
  .product-container {
    justify-content: space-around;
  }

  app-product {
    margin: 1rem 0.5rem 0;
    width: 23rem !important;
  }
}
